@import './main.scss';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: 'Galmuri9', sans-serif;
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 768px;
    height: 100%;
    background-color: #C9B5F5;
}

body {
    margin: 0 auto;
}

ul,
li {
    outline: 0;
    list-style: none;
}